alembic==1.12.1
anitopy==2.1.1
APScheduler==3.10.4
beautifulsoup4==4.12.2
bencodepy>=0.9.5
better-exceptions==0.3.3
cacheout==0.15.0
cachetools==5.3.2
cf_clearance==0.31.0
certifi>=2024.07.04
chardet==4.0.0
cn2an==0.5.22
cryptography>=42.0.4
cssselect==1.2.0
dateparser==1.1.8
Flask==3.0.3
Flask-Login==0.6.3
fast-bencode==1.1.4
flask-compress==1.14
flask-sock==0.7.0
func_timeout==4.3.5
h11==0.16.0
icalendar==5.0.11
iso-639==0.4.5
Jinja2>=3.1.4
jsonpath==0.82.2
lxml==4.9.3
openai==1.2.2
parse==1.19.1
parse-torrent-title==2.7
Pillow==10.4.0
plexapi==4.15.11
psutil==5.9.6
pycryptodome>=3.19.1
PyJWT==2.8.0
pypushdeer==0.0.3
pyquery==2.0.0
python-dateutil==2.8.2
python_hosts==1.0.4
pytz==2023.3.post1
PyVirtualDisplay==3.0
qbittorrent_api==2024.8.65
regex==2023.10.3
requests>=2.32.0
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
slack_bolt==1.18.0
slack-sdk==3.23.0
soupsieve==2.5
SQLAlchemy==2.0.23
srt==3.5.3
transmission-rpc==7.0.11
typing_extensions==4.8.0
tzdata==2023.3
urllib3>=2.2.2
watchdog==5.0.2
wcwidth==0.2.5
Werkzeug>=3.0.0
zhconv==1.4.3